

.home {
background-color:black;
.top{
 background-color: black;

  .funbus-pic{
    margin:20px 0;
    border-radius:10%;
     @media(max-width:500px){
        width:100%;
      }
  }
}

  .content-section {
    margin: 30px 0;
    .centered();
    
    align-items: center;

    
   
    
    .text-content {
      width: 100%;
      padding-right: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;

      @media(max-width:500px){
        width:100%;
      }
    }

    .img-content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      padding-left: 1%;
      @media(max-width:500px){
        width:80%;
        margin-bottom:5%;
      }

      img {
        border-radius: 10px;
        
      }
    }
  }

  .inverse-content {
    .centered();
    padding-bottom: 30px;
    

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

.wrap-destination {
   
    
    .wrap-destination {
      width: 100%;
      padding-right: 1%;

      @media(max-width:500px){
        width:100%;
      }
    }

    .imagesOne {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      padding-left: 1%;
      @media(max-width:500px){
        width:80%;
       
      }

      img {
        border-radius: 10px;
      }
    }
  }


.container-title{
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
     
}





  .content-destination {
    .centered();
    padding-bottom: 30px;
    

    .wrap-destination {
      padding-left: 1%;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      
      
    }

    .imgagesOne {
      padding-right: 1%;
      padding-left: 0;
    }




  }



  .content-bottom {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

   
    h4{
      display: flex;
      align-items: ;
      font-size: 4rem;
    }
    h3{
      font-size:3rem ;
      
    }

    @media(max-width:500px){
      .centered();
     
    }

    .destination {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      padding-top:2%;
      
      @media(max-width:500px){
        width:100%;
      }

      p{
        padding-bottom: 2%;
        padding-top: 2%;
      }
   }
  }


  




// home


}