header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:800px;
    margin:0 auto;

    @media(max-width:500px){
       .centered();
         
    }

    nav{
        display:flex;
        justify-content:space-between;
        width:250px;
      
    
        a{
            
            text-decoration: none;
            color:black;
            font-size: 1.6rem;
        }
    }
    
}
