
// Color assignments 
@font-color: @shark;
@main-bg:  @white;
@navigation-border: @silver;


// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: white;
@sandy-beach: #FFEBCD;


.centered{
    display:flex;
    flex-direction: column;
    align-content: column;
}





@media(max-width:500px){

}